*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 75px;
    width: 98vw;
    height: 200vh;
    background-color: antiquewhite;
}

.navbar{
    background-color: aquamarine;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
}

.buy{
    display: flex;
    float: row;
    gap: 10px;
}

.buy{
    position: absolute;
    right: 20px;
    top: 40px;
}

.navbar button{
    padding: 5px 7px;
    background-color: tomato;
    color: bisque;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

 button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s ease;
    color: white;
    border: 1px solid white;
    background-color: rgb(248, 66, 34);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.5);
    
}
