*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 75px;
    padding-left: 85px;
    width: 98vw;
    height: 100vh;
    background-color: black;
    background-image: url('apple.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.container{
    height: 4000px;
}

.navbar{
    background-color: rgb(42, 83, 165);
    color: aqua;
    font-size: 1.5rem;
    text-align: center;
    position: fixed;
    height: 75px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.left-nav{
    position: fixed;
    background-color: rgb(228, 94, 219);
    width: 85px;
    top: 75px;
    left: 0px;
    bottom: 0px;
    z-index: 500;
}

.absoulate-box{
   background-color: gray;
   position: absolute;
   top: 0;
   right: 0;
}

.box{
    width: 300px;
    height: 300px;
    text-align: center;
}

.box1{
    background-color: rgb(174, 96, 251);
    position: relative;
}

.box2{
    background-color: rgb(137, 188, 122);
    position: relative;
}

.time{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px 6px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.time:hover{
    cursor: pointer;
}

.timmer{
    display: none;
    background-color: gray;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    right: -5px;
    bottom: -5px;
    z-index: 100;
}

.time:hover + .timmer{
    display: block;
}