*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(215, 204, 204);
    border-radius: 1%;
    margin-left: 460px;
    margin-right: 460px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    box-shadow: -0px 1px 1px rgba(168, 163, 163, 0.5);
}

.pic1 {
    width: 50px;
}
.pic1 img {
    width: 100%;
    border-radius: 50%;
}

.user-info{
    
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.user-time{
    margin-left: 10px;
    margin-right: 100px;
}

.world-icon{
    margin-left: 2px;
}

.and {
    color: grey;
}

.butt {
    font-size: 1.5em;
}
.caption{
    margin: 5px 2px;
}

.bxs-heart1{

    margin-top: 0px;
}

.post-caption{

    display: flex;
    align-items: center;
    margin-left: 20px;
}

.heart1{
    font-size: 14px;
    margin-left: 2px;
    color: red;
}
.post-pic{
    width: 610px;
    padding-left: 5px;
}

.post-pic img{
    width: 100%;
}

.like-comment-preview{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    padding: 7px;
    border-bottom: 1px solid rgb(185, 177, 177);
}

.heart2{
    
    border-radius: 50px;
    background-color: red;
    color: white;
    padding: 2px;
    border: 2px white;
    margin-left: 10px;
    margin-right: -5px;
    z-index: 1000;
}

.like{
    border-radius: 50px;
    background-color: blue;
    color: white;
    padding: 2px;
    border: 2px white;
 }

 .who-liked{
    margin-left: 5px;
    font-size: 14px;
 }

 .who-comment{
    font-size: 14px;
    margin-left: 145px;
    margin-right: 15px;
 }

 .like-comment-share{
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 465px;
    padding: 5px;
 }

 .love-button{
      font-size: 12px;
      background-color: red;
      border-radius: 50%;
      color: white;
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
      margin-right: 5px;
      border: 1px solid white;
 }
  .lov{
      color: red;
      font-size: 16px;
      margin-right: 130px;
  }

  .comment-button{
      font-size: 16px;
      color: rgb(43, 42, 42);
      margin-right: 5px;
  }

  .cmnt{
    font-size: 16px;
    color: rgb(43, 42, 42);
    margin-right: 100px;
  }

  .share-button{
    transform: scaleX(-1);
    font-size: 16px;
    color: rgb(43, 42, 42);
    margin-right: 5px;
  }

  .shre{
    font-size: 16px;
    color: rgb(43, 42, 42);
  }
