<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    margin: 200px auto;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 80px;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    color: white;
    font-size: 200px;
    font-weight: 800;
    
}

.click,.address{
    color: white;
    margin-bottom: 20px;
    margin-top: 5px;
}
.click{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
}